@import '~bootstrap/scss/bootstrap';

$body-bg-color: #707070;
$accent-color: #c4bebe;
$secondary: #000;
$font-color: #333;
$error: #f00;
$success: #0f0;
$footer: #452e4d;
$main-font: 'Oxanium', cursive;
$secret: #f2f2f2;

* {
  justify-content: center;
  text-align: center;
}

body {
  background-attachment: fixed;
  background-color: $body-bg-color;
  background-image: url('https://imgur.com/yY7BLxn.gif');
  background-repeat: no-repeat;
  background-size: cover;
  clear: both;
  color: $secret;
  margin-bottom: 100px;
}

h1 {
  color: $font-color;
  font-family: $main-font;
  padding: 20px;
  text-align: left;
}

#api-message {
  font-family: $main-font;
}

footer {
  background-image: linear-gradient(#6b00b3, $footer);
  bottom: 0;
  height: 70px;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
}

a {
  color: $body-bg-color;
}

input {
  margin: 8px;
}

nav {
  background-image: linear-gradient($accent-color, $body-bg-color);
  display: flex;
}

.account {
  margin-left: auto;
}

.btn {
  margin: 10px;
}

.message-box {
  background-color: $secondary;
  font-family: 'Press Start 2P', cursive;
  font-size: 150%;
  margin-top: 10px;
}

.message-box-player {
  background-color: $secondary;
  font-family: 'Press Start 2P', cursive;
  font-size: 90%;
  margin-top: 10px;
}

.nav-item {
  align-items: center;
  vertical-align: middle;
}

.game-container {
  margin-bottom: 10px;
  margin-top: 80px;
  max-width: 420px;
  position: center;
}

.game-box {
  align-items: center;
  background-color: $secondary;
  color: $secret;
  display: flex;
  font-family: 'Press Start 2P', cursive;
  font-size: 300%;
  height: 140px;
  justify-content: center;
  width: 100px;
}

.player-icon {
  align-items: flex-end;
  display: flex;
}

.player-box {
  background-image: url('https://imgur.com/UI0rOXr.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.easy-ai-box {
  background-image: url('https://imgur.com/cjgxXnh.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.medium-ai-box {
  background-image: url('https://imgur.com/bPG0RIz.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.minimaximus-box {
  background-image: url('https://imgur.com/wN3X1hb.gif');
  background-position: center;
  background-repeat: no-repeat;
}

.about-info {
  color: $secondary;
  padding-bottom: 40px;
}

.game-button {
  margin: 8px;
  margin-bottom: 5px;
}

.hidden {
  display: none;
}

.button {
  margin: 8px;
}

.x {
  color: $error;
}

.o {
  color: $success;
}

.success {
  color: $font-color;
}

.failure {
  color: $error;
}

.easter-egg {
  color: $secret;
  text-align: right;
}

.easter-egg-link {
  color: $secret;
}

.modal-header {
  border-bottom: 0 none;
  color: $font-color;
}

.modal-footer {
  border-top: 0 none;
}

.modal-content {
  background-color: $secret;
}
