@import '~bootstrap/scss/bootstrap';

$body-bg-color: #707070;
$accent-color: #c4bebe;
$secondary: #000;
$font-color: #333;
$error: #f00;
$success: #0f0;
$footer: #452e4d;
$main-font: 'Oxanium', cursive;

* {
  justify-content: center;
  text-align: center;
}

body {
  background-color: $body-bg-color;
  // padding: 10px;
}

h1 {
  text-align: left;
  background-color: $accent-color;
  color: $font-color;
  font-family: $main-font;
  padding: 20px;
}

footer {
  background: $footer;
  bottom: 0;
  height: 70px;
  position: fixed;
  text-align: center;
  justify-content: center;
  width: 100%;
}

a {
  color: $accent-color;
}

input {
  margin: 8px;
}

nav {
  align-items: center;
  background-color: $accent-color;
  justify-content: center;
  vertical-align: middle;
}

.btn {
  margin: 10px;
}

.container {
  max-width: 420px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.nav-link {
  align-items: center;
}

.box {
  align-items: center;
  background-color: $secondary;
  border: 1px solid $accent-color;
  color: $font-color;
  display: flex;
  font-size: 300%;
  height: 140px;
  justify-content: center;
  width: 100px;
}

.hidden {
  display: none;
}

.button {
  margin: 8px;
}

.on-bottom {
}

.x {
  color: $error;
}

.o {
  color: $success;
}

.success {
  color: $font-color;
}

.failure {
  color: $error;
}
